
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------リセットCSS--------------------- */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
/* hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
} */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button {
  outline: none!important;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: Arial, Verdana;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
a {
  text-decoration: none!important;
  outline: none!important;
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
/* hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
} */
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

#navbarSupportedContent .mr-auto {
  position: fixed;
  z-index: 100;
  margin: 0!important;
  top: 45px;
  width :500px;
}

@keyframes scaleItem {
  0% {
    transform: scale(1.0);
  }
  to {
    transform: scale(1.08);
  }
}

@media screen and (max-width: 480px){
  .collapse {
    display: block!important;
  }
  .collapse.anime .mr-auto {
    transform: translate(0px,0px)!important;
  }
  .collapse.anime .mr-auto li,
  .navbar-light .collapse.anime .navbar-nav .nav-link:focus,
  .navbar-light .collapse.anime .navbar-nav .nav-link:hover {
    color : #fff!important;
  }
  .navbar-toggler.action {
    animation: scaleItem .3s 0s linear infinite alternate-reverse;
    animation-fill-mode: both;
  }
  .navbar-toggler.action .navbar-torigger-icon.first {
    transform: rotate(45deg)!important;
    top: 14px!important;
    left: 2px!important;
  }
  .navbar-toggler.action .navbar-torigger-icon.middle {
    transform: rotate(-45deg)!important;
    left: 1px!important;
    top: 14px!important;
    width : 100%!important;
  }
  .navbar-toggler.action .navbar-torigger-icon.last {
    display: none!important;
  }
}

@media screen and (max-width: 992px) and (min-width: 897px) {
  .collapse {
    display: block!important;
  }
  .collapse.anime .mr-auto {
    transform: translate(0px,0px)!important;
  }
  .collapse.anime .mr-auto li,
  .navbar-light .collapse.anime .navbar-nav .nav-link:focus,
  .navbar-light .collapse.anime .navbar-nav .nav-link:hover {
    color : #fff!important;
  }
  .navbar-toggler.action {
    animation: scaleItem .3s 0s linear infinite alternate-reverse;
    animation-fill-mode: both;
  }
  .navbar-toggler.action .navbar-torigger-icon.first {
    transform: rotate(45deg)!important;
    top: 14px!important;
    left: 2px!important;
  }
  .navbar-toggler.action .navbar-torigger-icon.middle {
    transform: rotate(-45deg)!important;
    left: 1px!important;
    top: 14px!important;
    width : 100%!important;
  }
  .navbar-toggler.action .navbar-torigger-icon.last {
    display: none!important;
  }
}

@media screen and (max-width: 896px) and (min-width: 481px) {
  .collapse {
    display: block!important;
  }
  .collapse.anime .mr-auto {
    transform: translate(0px,0px)!important;
  }
  .collapse.anime .mr-auto li,
  .navbar-light .collapse.anime .navbar-nav .nav-link:focus,
  .navbar-light .collapse.anime .navbar-nav .nav-link:hover {
    color : #fff!important;
  }
  .navbar-toggler.action {
    animation: scaleItem .3s 0s linear infinite alternate-reverse;
    animation-fill-mode: both;
  }
  .navbar-toggler.action .navbar-torigger-icon.first {
    transform: rotate(45deg)!important;
    top: 14px!important;
    left: 2px!important;
  }
  .navbar-toggler.action .navbar-torigger-icon.middle {
    transform: rotate(-45deg)!important;
    left: 1px!important;
    top: 14px!important;
    width : 100%!important;
  }
  .navbar-toggler.action .navbar-torigger-icon.last {
    display: none!important;
  }
}

.backImage {
  background: url("https://res.cloudinary.com/dh50en6xf/image/upload/v1588498911/IMG_0033_syi9dg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .8;
}

.inner .bg-head:after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC) repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-attachment: fixed; */
}

#gatsby-focus-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.gatsby-image-wrapper {
  width : 345px;
  height: 20px;
}

.section-head .inner {
  position: relative;
  height: 430px;
  overflow: hidden;
}

@media (max-width: 480px){
  .section-head .inner {
    height: 120vh!important;
  }
}

.l-inner {
  width: calc(86% + 60px);
  max-width: 1580px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.align-c {
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.clearfix {
  min-height: 1%;
}

.section-head .l-inner {
  position: relative;
  z-index: 3;
  /* margin-top: 155px; */
}

@media (max-width: 480px){
  .section-head .l-inner {
    padding: 0;
    margin-top: 0;
  }
  .section-head .l-inner .box-copy {
    position: absolute;
    margin: auto;
  }
}

.scrolldown.hide-sml:after {
  content: '';
  display: block;
  width: 70px;
  height: 1px;
  background-color: #212bff;
  position: absolute;
  top: 15px;
  left: 112px;
}

.section-discography-home .nav-discography:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}

.discography-list.discography-list-home > li .thumbnail-list::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .92);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: background .3s ease-out;
}

.l-container-link-home .section-link-home .imgbox::after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  background-attachment: fixed;
}

.l-container-link-home .section-link-home.content .imgbox::after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  background-attachment: fixed;
}

.section-contact-common a {
  transition: .8s;
}

.section-contact-common a:hover {
  color: rgb(255,255,255);
  transform: scale(1.1);
}

.cursor-pointer.hov_{
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background: rgba(30,144, 255, .7)!important;
}

.insta_view_block .post {
  margin: 0;
  width: 20%!important;
  height: 250px!important;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: block;
}


@media screen and (max-width: 1100px) and (min-width: 801px) {
  .insta_view_block .post {
    height: 200px!important;
  }
}

@media screen and (max-width: 896px) and (min-width: 481px) {
  .insta_view_block .post {
    width: 25%!important;
    height: 200px!important;
  }
  #instagram_field .insta_view_block #main_box {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .insta_view_block .post {
    width: 30%!important;
    height: 135px!important;
  }
}

.insta_view_block .post img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 30;
  transition: .5s;
}

.insta_view_block .post img:hover {
  transform: scale(1.1);
}

.insta_view_block .insta_box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  margin: auto;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
  cursor: pointer;
  z-index: 30;
}

.insta_view_block .post .insta_box .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.insta_view_block .post .insta_box .icon .like,
.insta_view_block .post .insta_box .icon .comment {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60px;
  margin: 0 15px;
}

.insta_view_block .post .insta_box .icon .like svg,
.insta_view_block .post .insta_box .icon .comment svg {
  fill: #fff;
  width: 35px;
}

.insta_view_block .post .insta_box .icon .like .text,
.insta_view_block .post .insta_box .icon .comment .text {
  color: #fff;
  font-weight: 800;
}

.next-stream .next-stream_date:before {
  content: '\FF3C';
  display: inline-block;
  font-size: 32px;
  font-weight: normal;
  position: relative;
  left: -12px;
  top: 8px;
  color: rgb(81, 165, 255);
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
  z-index: 1;
}

.next-stream .next-stream_date:after {
  content: '\FF0F';
  display: inline-block;
  font-size: 32px;
  font-weight: normal;
  position: relative;
  left: -5px;
  top: 8px;
  color: rgb(81, 165, 255);
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
  z-index: 1;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255,255,255)!important;
  font-size: 20px;
  font-weight: 800;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7)!important;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.swiper-wrapper ul:first-child {
  -webkit-animation: loop 50s -25s linear infinite;
  animation: loop 50s -25s linear infinite;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
}

.swiper-wrapper ul + ul {
    -webkit-animation: loop2 50s linear infinite;
    animation: loop2 50s linear infinite;
}

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%!important;
  }
}

@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%!important;
  }
}

@media (min-width: 768px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%!important;
  }
}

@media (min-width: 576px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%!important;
  }
}

.section-contents-home.section-link-home.item-fadein.content .imgbox img:hover {
  transform: scale(1.1);
}

.nav-discography.nav-btnlist li a:hover,
.nav-information.nav-btnlist li a:hover {
  border: 2px solid #212bff;
  background-color: #212bff;
  transition: background .2s ease-out, border .2s ease-out;
  transform: scale(1.1);
  color : #fff;
}

.instagram_field_title .titletext a:hover {
  color: #CF2E92!important;
}

.clearfix .feedInfo img {
  transition: 1s!important;
}

.clearfix .feedInfo._hov img {
  transition: 1s!important;
  transform: scale(1.1);
}

@keyframes blink {
  0% { color: rgb(0,0,0) }
  100% { color: rgb(0,0,0, .5) }
}

.clearfix .feedInfo._hov p {
  animation: blink .04s 0s linear infinite alternate-reverse;
  animation-fill-mode: both;
  will-change: opacity;
}

.cursor-react-imgbox img {
  transition : 1s!important;
}

.content-imgbox._hov .cursor-react-imgbox img {
  transition : 1s!important;
  transform: scale(1.1);
}

@keyframes blinktext {
  0% { color: rgb(255,255,255) }
  100% { color: rgb(255,255,255, .8) }
}

.content-imgbox._hov h3,
.content-imgbox._hov p {
  animation: blinktext .04s 0s linear infinite alternate-reverse;
  animation-fill-mode: both;
  will-change: opacity;
}

@keyframes blinkradioblock {
  0% { color: rgb(33,43,255) }
  100% { color: rgb(33,43,255, .7) }
}

.discography-list-home.item._hov .cursor-react.link-item p,
.discography-list-home.item._hov .cursor-react.link-item h4 {
  animation: blinkradioblock .04s 0s linear infinite alternate-reverse;
  -webkit-text-stroke: .3px #FFF;
  text-stroke: .3px #FFF;
  color: #212bff;
}

.discography-list-home.item._hov .bgslideImg {
  transition: .8s;
  background: rgb(0,0,0,0);
}

footer {
  z-index: 1!important;
}

footer .copyright ._hov {
  transition: .8s;
  transform :scale(1.1);
}

.section-head.section-head-home #posts hr {
  border-top: 3px solid rgb(81, 165, 255, .5);
  border-radius: 10px;
  width: 100%;
}

.section-head.section-head-home #posts ul {
  list-style: disc!important;
}

@media (max-width: 480px) {
  .pageBt a button {
    width: 100px;
  }
}

.pageBt a button:hover {
  border: 0;
  transform: scale(1.1);
}

.pageBt .backlink button:hover {
  background: rgb(255, 255, 255);
}

.postContentImg._hov img {
  transform: scale(1.1);
}

.nav-link:hover {
  font-weight: 800;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: 800;
  border-bottom: 2px solid rgb(81, 165, 255, .8);
  color : #222!important;
  text-shadow: 0px 0px 5px #fff;
}

@media screen and (max-width: 992px) {
  .navbar-light .navbar-nav .nav-link.active {
    color: #fff!important;
  }
}

.pageBy .backlink button:hover {
  border: none;
  background: rgba(0,0,0,0.51)!important;
  color: #fff!important;
}

.nav-information li .cursor-react-btn.active {
  border: 2px solid #212bff;
  background-color: #212bff;
  transition: background .2s ease-out, border .2s ease-out;
  transform: scale(1.1);
  color: #fff;
  font-weight: 800;
}

.scrolldown.hide-sml.bar:after {
  top: 11px;
  left: 140px;
}

.contact.scrolldown.hide-sml.bar:after  {
  left: 110px!important;
}

.radio.scrolldown.hide-sml.bar:after {
  top: 11px;
  left: 90px;
}

.profile.scrolldown.hide-sml.bar:after {
  top: 11px;
  left: 95px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 2px;
  }
}

.sideBar {
  position: fixed;
  top: 600px;
  margin: auto;
  z-index: 90;
}

@media (max-width: 480px) {
  .sideBar{
    display: none!important;
  }
}

.sideBar ul {
  margin-left: 30px;
  z-index: 80;
}

.sideBar ul li {
  z-index: 80;
  overflow: hidden;
  border-radius: 30px;
}

.sideBar ul li img {
  opacity: .8;
  transition: .8s;
  width: 45px;
}

.sideBar ul li img:hover {
  opacity: 1;
  transform : scale(1.1);
}

.pageBt .makeStyles-buttonDisable-2:hover {
  transform: scale(1.0);
  background: rgba(0, 0, 0, 0.26);
}

#cursor-pointer,
#pointer {
  display: none;
}

@media screen and (max-width: 480px){
  #cursor-pointer,
  #pointer {
    display: none!important;
  }
}

@media screen and (max-width: 896px) and (min-width: 481px){
  #cursor-pointer,
  #pointer {
    display: none!important;
  }
}

@media screen and (max-width: 480px){
  #posts iframe {
    width: 100%;
  }
}

@media screen and (max-width: 896px) and (min-width: 481px){
  #posts iframe {
    width: 120%;
  }
}
